@import "../styles/index.scss";

.about_hero {
  background: url(../../public/assets/images/about-hero-bg.svg) no-repeat center
    center/cover;
  padding: 71px 0;
  height: 624px;

  .about_hero_text {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(55, 58, 65, 0.65) 100%
    );
    opacity: 0.7;
    padding: 10px 12px 20px 10px;
    width: 656px;

    color: #ced7ff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  @media screen and (max-width: 992px) {
    height: 360px;
    .about_hero_text {
      width: 90%;
    }
  }
}

.about_sections {
  padding-top: 69px;
  padding-left: 62px;
  padding-right: 62px;

  &.mission {
    padding-top: 0;
    margin-top: 76px;
  }

  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

    h2 {
      margin: 0 15px;
      font-size: 36px;
      font-weight: 700;
      color: $color0;
      text-align: center;
    }

    .line {
      flex: 1;
      height: 1px;
      background-color: $color0;
      opacity: 0.5;
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 24px;
      }

      .line {
        flex: 0.5;
      }
    }
  }

  p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }

  &.core-values {
    padding-bottom: 194px;
    h5 {
      font-size: 24px;

      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 40px 20px 40px 20px !important;

    &.team {
      margin: 20px 0;
    }
  }
}
