@import "./index.scss";

.home_hero {
  // padding: 36px 0;
  text-align: center;
  h1 {
    font-size: 32px;
    font-weight: 500;
    // width: 75%;
    // margin: auto;
    // margin-bottom: 33px;
    margin: 36px auto;
    width: 1147.986px;
    transform: rotate(0.064deg);
    flex-shrink: 0;

    @media (max-width: 1148px) {
      font-size: 24px;
      margin: 20px auto;
      width: 100%;
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      margin: 20px auto;
      width: 100%;
    }
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    padding: 20px 0;
    h1 {
      font-size: 20px;
      // width: 90%;
      margin-bottom: 20px;
    }
  }
}

.investment-slider {
  position: relative;
  padding: 15px !important;

  .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px !important;
  }

  .slider-card-wrapper {
    // height: 100%;
    width: 400px;
    height: 320px;
    flex-shrink: 0;
    overflow-y: auto;
    background: linear-gradient(180deg, #25272b 0%, #373a41 100%) !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  }

  .slider-card {
    height: 100%;
    border-right: 1px solid rgba(152, 164, 215, 0.25);
    z-index: 99999 !important;
    padding: 26px 19px 30.99px 19px;

    .card-header {
      height: 100%;
      display: flex;
      align-items: start;
      gap: 18px;

      .icon {
        width: 45px;
        height: 45px;
        object-fit: contain;
        opacity: 0.5;
      }

      h3 {
        font-size: 24px;
      }
    }
    .card-content-box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .card-content {
      font-size: 18px;
    }

    .find-out-more {
      color: #98a4d7;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-transform: capitalize;
      border-radius: 7px;
      border: 1px solid #98a4d7;
      background: transparent;
      padding: 10px 30px;
    }
  }

  .custom-nav-button {
    position: absolute;
    right: 30px;
    bottom: 20px;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  @media screen and (min-width: 768px) {
    .icon-box {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .slider-card-wrapper {
      height: 100%;
      overflow-y: auto;
    }
    .card-header {
      height: 100%;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .icon {
      display: none;
    }
    .icon-box {
      display: block;
      width: 100%;
      .icon-mobile {
        width: 45px;
        height: 45px;
        object-fit: contain;
        opacity: 0.5;
      }
    }

    .slider-card {
      border-right: none;
      border-bottom: 1px solid rgba(152, 164, 215, 0.25);
    }

    .custom-nav-button {
      display: none;
    }

    .find-out-more {
      width: 100%;
    }
  }
}

.our-approach {
  padding: 56px 72px 57px 71px;

  h3 {
    font-size: 48px;
    font-weight: 900;
    color: $color0;
    margin: 0 !important;
  }
  p {
    font-size: 20px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .outline-btn {
    margin-top: 38px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px;

    .rows {
      flex-direction: column-reverse;
      gap: 20px;
      text-align: center;
    }

    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .outline-btn {
      margin-top: 20px;
    }

    img {
      width: 80%;
      margin: auto;
    }
  }
}
.investment-funds {
  padding: 55px 66px;

  h3 {
    font-size: 48px;
    font-weight: 900;
    color: $color0;
    margin: 0 !important;
  }
  p {
    font-size: 20px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .outline-btn {
    margin-top: 38px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
    .rows {
      gap: 20px;
      text-align: center;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .outline-btn {
      margin-top: 20px;
    }
    img {
      width: 80%;
      margin: auto;
    }
  }
}
.education {
  padding: 60px 70px 60px 69px;

  h3 {
    font-size: 48px;
    font-weight: 900;
    color: $color0;
    margin: 0 !important;
  }
  p {
    font-size: 20px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .outline-btn {
    margin-top: 36px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .outline-btn {
      margin-top: 20px;
    }

    .rows {
      flex-direction: column-reverse;
      gap: 20px;
      text-align: center;
    }
    img {
      width: 80%;
      margin: auto;
    }
  }
}
.research-center {
  padding: 60px 74px;

  h3 {
    font-size: 48px;
    font-weight: 900;
    color: $color0;
    margin: 0 !important;
  }
  p {
    font-size: 20px;
    line-height: 130%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .outline-btn {
    margin-top: 34px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .outline-btn {
      margin-top: 20px;
    }
    .rows {
      flex-direction: column-reverse;
      gap: 20px;
      text-align: center;
    }
    img {
      width: 80%;
      margin: auto;
    }
  }
}

.home_newsletter {
  padding: 60px 130px 76px 35px;
  h4 {
    color: $color0;
    font-size: 40px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 10px;
  }
  p {
    font-size: 24px;
    line-height: 130%;
    margin: 0;
  }
  button {
    font-size: 20px;
    font-weight: 700;
    color: #33363e;
    background: $color0;
    padding: 20px 40px;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 33px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px 50px 20;
    text-align: center;
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    button {
      font-size: 16px;
      padding: 15px 30px;
      margin-top: 20px;
    }
  }
}
