@import "../styles/index.scss";

.investment-categories {
  padding: 59px 88px 59px 41px;
  color: #fff;

  .header-text {
    color: $color0;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    width: 1034px;
    margin: auto;
    margin-bottom: 62px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  .categories-row {
    gap: 71px;
  }
  .category {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      color: $color0;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px dashed $color0;
    }

    p {
      color: $color0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  .transformation-header {
    color: $color0;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    border-bottom: 1px solid $color0;
    margin-bottom: 34px;
    margin-top: 48px;
    padding: 13px 1009.973px 2.797px 0px;
  }

  @media screen and (max-width: 992px) {
    padding: 40px 20px;
    .categories-row {
      gap: 20px;
    }
    .header-text {
      width: 100%;
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}

// investment funds

.investment-funds-section {
  .section-content {
    padding: 40px 45px;
  }
  .section-header {
    background: $color0;
    color: #33363e;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    padding: 25px 0 27px 45px;
    h2 {
      margin: 0;
    }
  }

  .section-subheader {
    color: $color0;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 14px;
    span {
      font-weight: 900;
    }
  }

  .section-description {
    color: $color0;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 50px;
  }

  .investment-options {
    max-width: 984px;
    margin: 0 auto;
  }

  .investment-card {
    border: 1px solid $color0;
    border-radius: 8px;
    padding: 0;
    height: 100%;

    h3 {
      background: $color0;
      color: #33363e;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      padding: 12px 0;
      margin: 0;
      border-radius: 8px 8px 0 0;
    }

    p {
      padding: 20px 24px;
      color: $color0;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  @media screen and (max-width: 992px) {
    .section-content {
      padding: 40px 20px;
    }
    .section-header {
      font-size: 24px;
      padding: 20px 0 22px 20px;
    }
    .section-subheader {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .section-description {
      font-size: 16px;
      margin-bottom: 30px;
    }
    .investment-card {
      h3 {
        font-size: 20px;
        padding: 10px 0;
      }
      p {
        padding: 10px 12px;
        font-size: 16px;
      }
    }
  }
}
