@import "../styles/index.scss";

.investment-categories {
  padding: 3rem 0;
  color: #fff;

  .header-text {
    color: $color0;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 60px;
  }

  .category {
    margin-bottom: 20px;

    h3 {
      color: $color0;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px dotted $color0;
    }

    p {
      color: $color0;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  .transformation-header {
    color: $color0;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    border-bottom: 1px solid $color0;
    margin-bottom: 34px;
    padding-bottom: 6px;
  }
}
